body {
    height: 1000px;
    padding-top: 100px;
    padding-left: 100px;
}

/* we have set div1 to position: relative, because we have to put another div inside it and set it to absolute to this
    position: relative does not change the behaivour of the div */
.div1 {
    background-color: lightcoral;
    height: 200px;
    width: 200px;
    position: relative;
}

/* timestapm div is inside div1
    we have set position: absolute so that we can position this div inside div1
      */
.timestamp {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.div2 {
    background-color: lightgreen;
    height: 200px;
    width: 200px;
}

.prac-header-div {
    background-color: black;
    color: white;
    /* when we give position to any element it means now the element is not taking space ont the page
        as other normal elemests, it is now floating  */
    position: fixed;
    /* top, bottom, left, right. We use these properties with position
        top 0px means that the element will stick to top of the window or webpage */

    /* when we give 2 opposite direction with position then the element gets streached
    to maintain that*/

    /* for example: right 20px left 20px, now the element will streatch and leave spaces
    from right and left 20px each */

    /* if we want to the position: fixed element to resize with the page,
    the we should use top, bottom, right, left */
    /* if we don't want to the position: fixed element to resize with the page,
    we can use height and width  */
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    z-index: 100;
}

.sidebar-div {
    background-color: rgb(197, 143, 224);
    position: fixed;
    left: 0px;
    top: 60px;
    bottom: 0px;
    width: 90px;
}

.botton-right {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 30px;
    right: 100px;
}

.right-sidebar {
    background-color: green;
    color: white;
    position: fixed;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100px;
}

/* we have this div inside sidebar div
    sidebar div have position: fixed
    this div have position:absolute
    now whatever values we provide, right, left, top, bottom
    all the values will be positioned inside sidebar div */
.abs-pos-div {
    position: absolute;
    background-color: whitesmoke;
    color: red;
    top: 0;
    right: 0px;
}
