hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* First subscribe button */
.subscribe {
    background-color: rgb(218, 45, 45);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 12px;
    margin-right: 50px;
}

/* Second subscribe button */
.subscribe2 {
    background-color: rgb(218, 45, 45);
    color: white;
    border: none;
    padding: 12px 12px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 50px;
    transition: opacity 0.3s;
}

/* hover effect on second subscribe button */
.subscribe2:hover {
    opacity: 0.8;
}

/* active effect (means when clicked) on second subscribe button */
.subscribe2:active {
    opacity: 0.6;
}

/* First join button */
.join {
    background-color: white;
    color: rgb(41, 118, 211);
    border-radius: 2px;
    padding: 9px 18px;
    border-color: rgb(79, 79, 226);
    border-style: solid;
    border-width: 1px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    margin-right: 50px;
}

/* Second join button */
.join2 {
    background-color: white;
    color: rgb(41, 118, 211);
    padding: 9px 18px;
    border-radius: 2px;
    border-color: rgb(79, 79, 226);
    border-style: solid;
    border-width: 1px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    /* transition takes 2 values first: what needs to be changed, second: the time it take 0.1ms-1s, 2s, 3s and so on
        We can put multiple properties in transitions using comma ,
        We write the transition in main element's css and not in psedo classes like :hover, :active etc */
    transition: background-color 1s, color 1s, color 1s;
}

/* hover effect on second join button */
.join2:hover {
    background-color: rgb(41, 118, 211);
    color: white;
}

/* active effect (means when clicked) on second join button */
.join2:active {
    opacity: 0.8;
}

/* First tweet button */
.tweet {
    background-color: rgb(2, 158, 255);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 50px;
}

/* Second tweet button (with box-shadow) */
.tweet2 {
    background-color: rgb(2, 158, 255);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 50px;
    /* box-shadow takes 4 values
    1. Horizontal shadow (in pixels)
    2. Vertical shadow (in pixels)
    3. Blur amount (in pixels)
    4. Color in rgba (a in rgba stands for opacity 0.1-1.0)*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.tweet3 {
    background-color: rgb(2, 158, 255);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    transition: box-shadow 0.4s;
}
/* box-shadow on hover */
.tweet3:hover {
    /* box-shadow takes 4 values
    1. Horizontal shadow (in pixels)
    2. Vertical shadow (in pixels)
    3. Blur amount (in pixels)
    4. Color in rgba (a in rgba stands for opacity 0.1-1.0)*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.uber {
    background-color: black;
    color: white;
    padding: 12px 18px;
    font-size: 15px;
}

.amazon {
    background-color: rgb(255, 216, 20);
    border-radius: 25px;
    border: none;
    padding: 10px 44px;
    font-size: 16px;
    font-weight: 600;
}

.github {
    background-color: rgb(46, 164, 79);
    color: white;
    border: none;
    border-radius: 7px;
    font-weight: 600;
    padding: 12px 22px;
    font-size: 15px;
}

.bootstrap {
    background-color: rgb(121, 82, 179);
    color: white;
    border: none;
    border-radius: 2px;
    padding: 15px 22px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
}

.download {
    background-color: white;
    color: rgb(108, 117, 125);
    border-color: rgb(108, 117, 125);
    border-style: solid;
    border-width: 1px;
    padding: 15px 22px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
}

.apply {
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 22px;
    font-size: 14px;
    font-weight: 600;
}

.save {
    background-color: white;
    color: rgb(10, 102, 194);
    border-style: solid;
    border-color: rgb(10, 102, 194);
    border-width: 1px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 30px;
}

.biggest-deals {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0px;
}

.sale-end {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: red;
    font-size: 20px;
    margin-top: 5px;
    font-weight: 600;
}

.html-course {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
}

.beginner {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    font-size: 20px;
    margin-top: 5px;
}

.course {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    width: 400px;
}

.get-started {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(47, 116, 47);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: 10px 10px;
}

.shop-business {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0px;
    text-align: center;
}

.apple-work {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    text-align: center;
    margin-bottom: 0px;
}

.learn-more {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(66, 121, 240);
    text-align: center;
    cursor: pointer;
}

.big-number {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0px;
}

.usd {
    font-size: 16px;
    font-weight: 700;
    color: grey;
}

.green-txt {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    margin-top: 6px;
}

.after-hours {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-weight: 500;
}

.span-red {
    font-size: 16px;
    color: rgba(231, 40, 40, 0.945);
}

.dog-image-round-corner {
    width: 200px;
    border-radius: 8px;
    margin-right: 20px;
}

.dog-image-center {
    width: 150px;
    height: 150px;
    object-position: center;
    margin-right: 20px;
}

.dog-image-circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
    object-position: center;
}

.search-box-one {
    font-size: 18px;
    padding: 8px 8px;
    border-radius: 6px;
    border-width: 1px;
    border-color: grey;
    border-style: solid;
    margin-right: 100px;
}

.google-search-box {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    /* padding-right: 50px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px; */
    padding: 10px 12px 10px 12px;
    border-radius: 6px;
    border-width: 1px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

.email {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: rgba(66, 65, 65, 0.726);
    margin-bottom: 6px;
}

.linkedin-signup {
    height: 30px;
    width: 400px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(59, 58, 58, 0.658);
}

.linked-privacy-policy {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-top: 8px;
    color: rgba(66, 65, 65, 0.726);
}

.agree {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(10, 102, 194);
    color: white;
    width: 400px;
    font-weight: 400;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    padding: 11px 115px 11px 115px;
}

.smallest-dog-image {
    /* added vertical-align: middle, to achieve this design. It wil verticlly align the item in the center */
    vertical-align: middle;
    width: 34px;
    height: 34px;
    border-radius: 25px;
    object-fit: cover;
}

.whats-happening {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: middle;
    border: none;
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
    width: 300px;
}

.twt-txt-box {
    vertical-align: middle;
    background-color: rgb(2, 158, 255);
    color: white;
    border: none;
    padding: 10px 22px;
    border-radius: 25px;
    font-size: 19px;
    cursor: pointer;
    font-weight: 500;
}

.placeholder-display-block {
    display: block;
    font-size: 18px;
    padding: 8px 8px;
    border-radius: 6px;
    border-width: 1px;
    border-color: grey;
    border-style: solid;
    margin-right: 100px;
    margin-bottom: 10px;
}

.placeholder-display-block2 {
    display: block;
    font-size: 18px;
    padding: 8px 8px;
    border-radius: 6px;
    border-width: 1px;
    border-color: grey;
    border-style: solid;
}

.survey-para {
    display: inline-block;
    width: 220px;
    vertical-align: middle;
    font-size: 18px;
}

.yes-btn {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 3px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 1px 7px 1px 7px;
}

.no-btn {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 3px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 1px 7px 1px 7px;
}

.google-logo {
    display: block;
    width: 210px;
    margin-left: 550px;
    margin-bottom: 20px;
}

.google-search-box2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 500px;
    margin-left: 378px;
    /* padding-right: 50px;
padding-left: 10px;
padding-top: 10px;
padding-bottom: 10px; */
    padding: 10px 12px 10px 12px;
    border-radius: 6px;
    border-width: 1px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

.req-ride {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 25px;
}

.pickup {
    display: block;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: black;
    margin-bottom: 8px;
    border: none;
    background-color: rgba(219, 206, 206, 0.534);
    padding: 8px 180px 8px 10px;
}
.pickup::placeholder {
    color: black;
}

.destination {
    display: block;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: black;
    border: none;
    background-color: rgba(219, 206, 206, 0.534);
    padding: 8px 180px 8px 10px;
    margin-bottom: 30px;
}
.destination::placeholder {
    color: black;
}

.req-btn {
    background-color: black;
    color: white;
    padding: 6px 8px;
    font-size: 15px;
    border: none;
    margin-right: 8px;
}

.scd-btn {
    background-color: rgba(219, 206, 206, 0.534);
    color: black;
    padding: 5px 8px;
    border: none;
    font-size: 15px;
}

.red-sqr-div {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: red;
    margin-right: 50px;
}

.green-circle-div {
    display: inline-block;
    background-color: green;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-right: 50px;
}

.satisfied-service {
    display: inline-block;
    padding: 10px 10px;
    width: 300px;
    vertical-align: top;
    border-radius: 4px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 50px;
}

.yt-music-div {
    padding: 5px 18px;
    background-color: #282828;
    width: 430px;
    margin-bottom: 50px;
}

.i-yt-music {
    font-family: "Courier New", Courier, monospace;
    color: white;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 0px;
}

.add-yt-music {
    font-family: "Courier New", Courier, monospace;
    color: #888888;
    font-weight: bolder;
    font-size: 16px;
    margin-top: 7px;
}

.twt-div {
    border-style: solid;
    border-radius: 10px;
    border: none;
    width: 470px;
    padding: 15px 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
}

.dog-profile-div {
    width: 170px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    margin-bottom: 50px;
}

.masked-dog-img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    object-position: center;
}

.oliver {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 50px;
}

.mtl-frnd {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.add-frnd-btn {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color: rgba(23, 89, 211, 0.753);
    color: white;
    border-radius: 3px;
    border: none;
    padding: 6px 12px;
    margin-left: 30px;
    margin-top: 12px;
    margin-bottom: 10px;
}

.dog-profile-div2 {
    width: 170px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    display: inline-block;
    margin-right: 100px;
}
.dog-profile-div3 {
    width: 170px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    display: inline-block;
    margin-right: 100px;
}
.dog-profile-div4 {
    width: 170px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    display: inline-block;
}

.google-logo2 {
    margin-top: 100px;
    text-align: center;
}

.two-same-button {
    text-align: center;
}

.g-s {
    background-color: rgb(245, 245, 245);
    border: none;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 25px;
}

.g-s-2 {
    margin-right: 20px;
}
