p {
    font-family: "Roboto", sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    margin: 0; /* to remove spacing from all around the page */
    padding-top: 80px;
    padding-left: 100px;
    height: 3000px; /* this is just for checking positions, we can remove this later*/
}
